.schedule {
    display: flex;
    flex-direction: column;
   
}

.timing-title {
    width: 100%;
    color: #814b57;
    font-family: Cormorant Garamond, var(--default-font-family);
    font-size: 4vw;
    font-weight: 600;
    text-align: center;
}

.timing-title .frst-line, .scnd-line {
    margin: 0;
    padding: 0;
}

.timing-title .frst-line {
    padding-top: 3%;
    background-color: #F9E9EA;
}

.events {
   display: flex;
   margin-left: 30%;
}

.events .events-timing {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 2vw;
    font-weight: 400;
}

.events img {
    max-height: 24vw;
    margin-bottom: 1%;
    object-fit: cover;
}

.events .events-timing p {
    margin: 3% 1%;
}

@media (max-width: 768px) {
    .timing-title {
        font-size: 9vw; 
    }

    .events {
        display: flex;
        margin-left: 10%;
    }

    .events .events-timing {
        font-size: 5.4vw;
    }

    .events .events-timing p {
        margin: 4.6vw 0;
    }

    .events img {
        max-height: 90vw;
    }
}

@media (max-width: 768px) {
    .events img {
        max-height: 60vw;
    }

    
}
