.date-block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 1%;
    margin: 6% 0;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kiss-img {
    max-width: 45%;
}

.save-the-date {
    color: #814b57;
    font-family: Cormorant Garamond, var(--default-font-family);
    font-size: 60px;
    font-weight: 600;
}

.date {
    margin-top: 2%;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 40px;
    font-weight: 400;
}

.family-day {
    margin-top: 6%;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    max-width: 90%;
}
  
@media (max-width: 768px) {
    .date-block {
        flex-direction: column; /* Change to column layout for smaller screens */
        align-items: center; /* Center items horizontally */
    }

    .kiss-img {
        max-width: 80%; /* Adjust max-width for smaller screens */
    }

    .save-the-date {
        font-size: 40px; /* Decrease font size for smaller screens */
    }

    .date {
        font-size: 30px; /* Decrease font size for smaller screens */
    }

    .family-day {
        font-size: 24px; /* Decrease font size for smaller screens */
    }
}