.info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dear-friends-and-family {
    width: 100%;
    background-color: #F9E9EA;
    color: #814b57;
    font-family: Poiret One, var(--default-font-family);
    font-size: 2.6vw;
    font-weight: 400;
    text-align: center;
    padding: 1% 0;
}

.important-event {
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 1.9vw;
    font-weight: 400;
    text-align: center;
    padding: 3% 30%;
}

.special-day-message {
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 2.2vw;
    font-weight: 400;
    text-align: center;
    padding: 0 10%;
}

.special-day {
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 2.6vw;
    font-weight: 400;
    text-align: center;
}


@media (max-width: 390px) {
    .dear-friends-and-family {
        font-size: 5.5vw;
    }

    .important-event {
        font-size: 3.5vw;
        padding: 3% 10%;
    }

    .special-day-message {
        font-size: 4.6vw;
    }

    .special-day {
        font-size: 5.5vw;
    }
}

@media (max-width: 768px) {
    .dear-friends-and-family {
        font-size: 4vw;
    }

    .important-event {
        font-size: 3.6vw;
        padding: 3% 20%;
    }

    .special-day-message {
        font-size: 4vw;
    }

    .special-day {
        font-size: 4vw;
        padding: 0 10%;
    }
}