.info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dear-friends-and-family {
    width: 100%;
    background-color: #F9E9EA;
    color: #814b57;
    font-family: Poiret One, var(--default-font-family);
    font-size: 2.6vw;
    font-weight: 400;
    text-align: center;
    padding: 1% 0;
}

.important-event {
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 1.9vw;
    font-weight: 400;
    text-align: center;
    padding: 3% 30%;
}

.special-day-message {
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 2.2vw;
    font-weight: 400;
    text-align: center;
    padding: 0 10%;
}

.special-day {
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 2.6vw;
    font-weight: 400;
    text-align: center;
}


