.questions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 6% 0;
}

.title {
    font-family: Cormorant Garamond, var(--default-font-family);
    font-size: 4vw;
    font-weight: 600;
    color: #814b57;
}

.answer-questions {
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 2vw;
    font-weight: 400;
    text-align: center;
    max-width: 30vw;
    margin: 3% 0;
}

.question-container {
    background-color: #F9E9EA;
    text-align: center;
    padding: 3% 15%;
}

.question-text {
    font-family: Cormorant Garamond, var(--default-font-family);
    font-size: 3vw;
    font-weight: 300;
    color: #814b57;
}

@media only screen and (max-width: 600px) {
    iframe {
        max-width: 100%;
    }
}


/* .options {
    margin-top: 3%;
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
}

.option {
    display: flex;
    align-items: center;
}

.option-text {
    font-family: Poiret One, var(--default-font-family);
    font-size: 2vw;
    font-weight: 200;
    margin-left: 10px;
    text-align: center;
}

input[type="checkbox"], input[type="radio"] {
    appearance: none;
    border-radius: 50%;
    width: 1vw;
    height: 1vw;
    border: 1px solid #000000;
    transition: 0.2s all linear;
    margin-right: 5px;
}


input:checked {
    border: 6px solid black;
}

.confirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    background: #F9E9EA;
    width: 77vw;
    padding-bottom: 2%;
}

.not-pink-line {
    background-color: #FFFAFA;
    padding: 0 34%;
    width: 100vw;
}

.confirm-presence {
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 2vw;
    font-weight: 400;
    text-align: center;
}

.confirm-presence, .input-fields, .attendance-option {
    margin-bottom: 2%;
}

.input-fields, .attendance-option {
    width: 100%;
    padding: 1% 20%;
}

.input-field{
    border: none;
    border-bottom: 1px solid black; 
    outline: none; 
    margin: 4% 0;
}

#full-name, #phone-number {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;    
    color: #814b57;
    font-family: Poiret One, var(--default-font-family);
    font-size: 2vw;
    font-weight: 400;
}

.attendance-option .option-text {
    font-size: 2vw;
}

.send-button button {
    background-color: transparent;
    border: 1px #000000 solid;
    font-family: Poiret One, var(--default-font-family);
    font-size: 2vw;
    font-weight: 400;
    padding: 1vw 4vw;
    cursor: pointer; 
    margin: 10% 0;
    color: black;
}



@media (max-width: 768px) {
    .title {
        font-size: 9vw;
    }

    .answer-questions {
        max-width: 90%;
        font-size: 5vw; 
    }

    .question-container {
        padding: 3% 5%; 
    }

    .question-text {
        font-size: 8vw;
    }

    input[type="checkbox"], input[type="radio"] {
        width: 4vw;
        height: 4vw;
    }

    .options {
        grid-template-columns: 1fr;
        margin-left: 10%;
    }

    .option-text {
        font-size: 6vw;
    }

    .confirm-presence {
        font-size: 5vw;
    }

    .confirmation {
        width: 100vw;
    }

    .not-pink-line {
        padding: 0 15%;
    }

    .send-button button {
        padding: 10px 16px; 
    }

    #full-name, #phone-number {
        font-size: 5vw;
    }

    .attendance-option .option-text {
        font-size: 5vw;
    }

    .input-fields, .attendance-option {
        width: 100%;
        padding: 1% 12%;
    }

    .send-button button { 
        font-size: 4vw;
        padding: 1vw 5vw;
        border: 1px #000000 solid;
    }
} */
