.location {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 1%;
    margin: 6% 10%;
}

.map {
    width: 45%;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%; /* Set width for smaller screens */
}

.location-title {
    color: #814b57;
    font-family: Cormorant Garamond, var(--default-font-family);
    font-size: 60px;
    font-weight: 600;
}

.location-text {
    margin-top: 2%;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.address {
    margin-top: 6%;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .location {
        flex-direction: column; /* Change to column layout for smaller screens */
        align-items: center; /* Center items horizontally */
    }

    .map, .right-side {
        width: 100%; /* Set full width for smaller screens */
    }

    .location-title {
        font-size: 40px; /* Decrease font size for smaller screens */
    }

    .location-text {
        font-size: 24px; /* Decrease font size for smaller screens */
    }

    .address {
        font-size: 28px; /* Decrease font size for smaller screens */
    }
}
