.location {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 6% 0;
}

.map {
    max-width: 40%;
    margin-right: 6%;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location-title {
    color: #814b57;
    font-family: Cormorant Garamond, var(--default-font-family);
    font-size: 4vw;
    font-weight: 600;
}

.location-text {
    margin-top: 2%;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 1.9vw;
    font-weight: 400;
    text-align: center;
}

.address {
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 2.2vw;
    font-weight: 400;
    text-align: center;
    margin: 6% 10%;
}

@media (max-width: 768px) {
    .location {
        flex-direction: column;
        align-items: center; 
    }

    .map {
        max-width: 100%;
        margin-right: 0;

    }

    .location-title {
        font-size: 8vw;
    }

    .location-text {
        font-size: 4.5vw;
    }

    .address {
        font-size: 6vw;
        margin: 6% 23%;
    }
}

@media (max-width: 390px) {
    .map {
        max-width: 100%;
    }
}