.dress-code {
    display: flex;
    flex-direction: column;
    margin: 4% 0;
    justify-content: center;
    align-items: center;
}

.dress-code .title {
    font-family: Cormorant Garamond, var(--default-font-family);
    font-size: 4vw;
    font-weight: 600;
    color: #814b57;
}

.colors {
    display: grid;
    margin: 2% 0;
    grid-template-columns: repeat(5, 1fr);
    gap: 2%;
    width: 76%;
    height: 20vw;
}

.dark-pink, .lighter-pink, .powder-pink, .peach, .lightest-pink {
    max-width: 20vw;
    max-height: 18vw;
    background: #bb687a;
}

.dark-pink {
    background: #bb687a;
}

.lighter-pink {
    background: #e2a9af;
}

.powder-pink {
    background: #ecc1cb;
}

.peach {
    background: #f8d5d3;
}

.lightest-pink {
    background: #f9e9ea;
}

.color-guidelines {
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 2vw;
    font-weight: 400;
    text-align: center;
    margin: 0 3%;
}

@media (max-width: 768px) {
    .dress-code .title {
        font-size: 9vw; 
        margin: 0;
    }

    .colors {
        width: 100%;
        height: 30vw;
        gap: 0;

    }

    .dark-pink, .lighter-pink, .powder-pink, .peach, .lightest-pink {
        max-height: 30vw;
    }

    .color-guidelines {
        font-size: 4.5vw;
    }
}