.header {
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/images/header.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
    padding: 8% 20%;
}

.invitation-text {
    color: #814b57;
    flex-wrap: wrap;
    font-family: Cormorant Garamond, var(--default-font-family);
    font-size: 9vw;
    font-weight: 600;
    text-align: center;
}

.names {
    position: relative;
    left: 6vw;
}

.name {
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 7vw;
    font-weight: 400;
}

.evgeny {
    position: relative;
    top: -3vw;
    left: 1vw;
}


.and {
    color: #814b57;
    font-family: Snell Roundhand, var(--default-font-family);
    font-size: 13vw;
    font-weight: 500;
    bottom: 10px;
}


.alexandra {
    position: relative;
    top: 4vw;
    right: 14vw;
}

@media (min-width: 720px) {

    .header {
        min-height: 30vh;
    }

}

@media (min-width: 900px) {

    .header {
        min-height: 40vh;
    }
}

@media (min-width: 390px) {

    .header {
        min-height: 20vh;
    }
}

@media (min-width: 100px) {
    .header {
        min-height: 10vh;
    }
}