
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  
  
  .family-day {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 601.525px;
    height: 11.19%;
    top: 52.74%;
    left: 53.67%;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 40px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: center;
    z-index: 85;
  }
  .special-day {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1435px;
    height: 47px;
    margin: 80px 0 0 243px;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 40px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: center;
    white-space: nowrap;
    z-index: 80;
  }
  .flex-row {
    position: relative;
    width: 1436px;
    height: 840px;
    margin: 100px 0 0 242px;
    z-index: 79;
  }
  
  .flex-row-b {
    position: relative;
    width: 1920px;
    height: 185px;
    margin: 80px 0 0 0;
    z-index: 66;
  }
  .line {
    position: absolute;
    width: 1920px;
    height: 100px;
    top: 0;
    left: 0;
    background: #f9e9ea;
    z-index: 65;
  }
  .timing {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 370px;
    height: 169px;
    top: 16px;
    left: 765px;
    color: #814b57;
    font-family: Cormorant Garamond, var(--default-font-family);
    font-size: 60px;
    font-weight: 600;
    line-height: 72.66px;
    text-align: center;
    z-index: 66;
  }
  .dress-code {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 950px;
    height: 73px;
    margin: 478px 0 0 484px;
    color: #814b57;
    font-family: Cormorant Garamond, var(--default-font-family);
    font-size: 60px;
    font-weight: 600;
    line-height: 72.66px;
    text-align: center;
    white-space: nowrap;
    z-index: 55;
  }
  .flex-row-cc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 1434px;
    height: 320.003px;
    margin: 97.997px 0 0 243px;
    z-index: 62;
  }
  .dark-pink {
    flex-shrink: 0;
    position: relative;
    width: 250px;
    height: 320px;
    background: #bb687a;
    z-index: 62;
  }
  .lighter-pink {
    flex-shrink: 0;
    position: relative;
    width: 250px;
    height: 320px;
    background: #e2a9af;
    z-index: 61;
  }
  .powder-pink {
    flex-shrink: 0;
    position: relative;
    width: 250px;
    height: 320px;
    background: #ecc1cb;
    z-index: 60;
  }
  .peach {
    flex-shrink: 0;
    position: relative;
    width: 250px;
    height: 320px;
    background: #f8d5d3;
    z-index: 59;
  }
  .lightest-pink {
    flex-shrink: 0;
    position: relative;
    width: 250px;
    height: 320px;
    background: #f9e9ea;
    z-index: 58;
  }
  .color-guidelines {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 950px;
    height: 94px;
    margin: 80px 0 0 484px;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 40px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: center;
    z-index: 56;
  }
  .questions {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 466px;
    height: 73px;
    margin: 140px 0 0 727px;
    color: #814b57;
    font-family: Cormorant Garamond, var(--default-font-family);
    font-size: 60px;
    font-weight: 600;
    line-height: 72.66px;
    text-align: center;
    white-space: nowrap;
    z-index: 52;
  }
  .answer-questions {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 466px;
    height: 70px;
    margin: 20px 0 0 727px;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 30px;
    font-weight: 400;
    line-height: 35.1px;
    text-align: center;
    z-index: 53;
  }
  .rectangle {
    position: relative;
    width: 950px;
    height: 338px;
    margin: 49px 0 0 485px;
    font-size: 0px;
    /* background: url(../assets/images/1c6e8557-d1f0-47d1-b447-03d15cafa58a.png) */
      /* no-repeat center; */
    background-size: cover;
    z-index: 26;
    overflow: visible auto;
  }
  .beverage-preference {
    display: block;
    position: relative;
    height: 48px;
    margin: 40px 0 0 177px;
    color: #814b57;
    font-family: Cormorant, var(--default-font-family);
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 49;
  }
  .flex-row-3 {
    position: relative;
    width: 597px;
    height: 35px;
    margin: 20px 0 0 177px;
    z-index: 48;
  }
  .sparkling {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 35px;
    top: 0;
    left: 27px;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    white-space: nowrap;
    z-index: 48;
  }
  .vodka {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 35px;
    top: 0;
    left: 364px;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    white-space: nowrap;
    z-index: 36;
  }
  .ellipse {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 10px;
    left: 0;
    /* background: url(../assets/images/7c1be937-e17d-4c2c-982b-7254ec20afe6.png) */
      /* no-repeat center; */
    background-size: cover;
    z-index: 47;
    border-radius: 50%;
  }
  .ellipse-4 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 10px;
    left: 337px;
    /* background: url(../assets/images/c409eafe-eb47-468e-b6e5-9d9e728bc1a8.png) */
      /* no-repeat center; */
    background-size: cover;
    z-index: 35;
    border-radius: 50%;
  }
  .flex-row-cbd {
    position: relative;
    width: 603px;
    height: 35px;
    margin: 10px 0 0 177px;
    z-index: 45;
  }
  .red-wine {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 35px;
    top: 0;
    left: 27px;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    white-space: nowrap;
    z-index: 45;
  }
  .whiskey {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 35px;
    top: 0;
    left: 364px;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    white-space: nowrap;
    z-index: 33;
  }
  .ellipse-5 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 10px;
    left: 0;
    /* background: url(../assets/images/d43f8f15-60d2-40d8-9e76-bed2e9d827ab.png) */
      /* no-repeat center; */
    background-size: cover;
    z-index: 44;
    border-radius: 50%;
  }
  .ellipse-6 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 10px;
    left: 337px;
    /* background: url(../assets/images/40a69668-d604-4c0a-ae35-d84062605c93.png) */
      /* no-repeat center; */
    background-size: cover;
    z-index: 32;
    border-radius: 50%;
  }
  .flex-row-7 {
    position: relative;
    width: 603px;
    height: 35px;
    margin: 10px 0 0 177px;
    z-index: 42;
  }
  .white-wine {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 35px;
    top: 0;
    left: 27px;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    white-space: nowrap;
    z-index: 42;
  }
  .brandy {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 35px;
    top: 0;
    left: 364px;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    white-space: nowrap;
    z-index: 30;
  }
  .ellipse-8 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 10px;
    left: 0;
    /* background: url(../assets/images/f46eacbe-4308-454d-8c7b-b51f56bd0920.png) */
      /* no-repeat center; */
    background-size: cover;
    z-index: 41;
    border-radius: 50%;
  }
  .ellipse-9 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 10px;
    left: 337px;
    /* background: url(../assets/images/0ad9a5b2-79a9-4883-b96b-21bdac89e4f2.png) */
      /* no-repeat center; */
    background-size: cover;
    z-index: 29;
    border-radius: 50%;
  }
  .flex-row-a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 327px;
    height: 35px;
    margin: 10px 0 0 177px;
    z-index: 39;
  }
  .ellipse-b {
    flex-shrink: 0;
    position: relative;
    width: 16px;
    height: 16px;
    /* background: url(../assets/images/3461d029-7d85-480e-b93c-df22b7a48105.png) */
      /* no-repeat center; */
    background-size: cover;
    z-index: 38;
    border-radius: 50%;
  }
  .non-alcoholic-drinks {
    flex-shrink: 0;
    position: relative;
    height: 35px;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    white-space: nowrap;
    z-index: 39;
  }
  .flex-row-c {
    position: relative;
    width: 950px;
    height: 357px;
    margin: 20px 0 0 485px;
    z-index: 24;
  }
  .confirm-presence {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 465px;
    height: 105px;
    top: 0;
    left: 242px;
    color: #814b57;
    font-family: Poiret One, var(--default-font-family);
    font-size: 30px;
    font-weight: 400;
    line-height: 35.1px;
    text-align: center;
    z-index: 24;
  }
  .rectangle-c {
    position: absolute;
    width: 950px;
    height: 282px;
    top: 75px;
    left: 0;
    /* background: url(../assets/images/6420e790-65cd-4acd-93ce-0d2e9dd66f0c.png) */
      /* no-repeat center;  */
    background-size: cover;
    z-index: 8;
  }
  .rectangle-d {
    position: relative;
    width: 440px;
    height: 44px;
    margin: 30px 0 0 255px;
    border-top: 1px solid #000000;
    z-index: 10;
  }
  .full-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 20px;
    left: 0;
    color: rgba(0, 0, 0, 0.5);
    font-family: Poiret One, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: left;
    white-space: nowrap;
    z-index: 11;
  }
  .rectangle-e {
    position: relative;
    width: 440px;
    height: 24px;
    margin: 30px 0 0 255px;
    border-top: 1px solid #000000;
    z-index: 16;
  }
  .phone-number {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.5);
    font-family: Poiret One, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: left;
    white-space: nowrap;
    z-index: 17;
  }
  .rectangle-f {
    position: relative;
    width: 180px;
    height: 44px;
    margin: 92px 0 0 385px;
    border: 1px solid #000000;
    z-index: 13;
  }
  .send {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 180px;
    height: 44px;
    top: -1px;
    left: -1px;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: center;
    z-index: 14;
  }
  .ellipse-10 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 148px;
    left: 255px;
    /* background: url(../assets/images/9ecf102c-f364-4138-a4e6-3d06e4d9f2f3.png) */
      /* no-repeat center; */
    background-size: cover;
    z-index: 19;
    border-radius: 50%;
  }
  .able-to-attend {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 15px;
    top: 149px;
    left: 281px;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    white-space: nowrap;
    z-index: 20;
  }
  .ellipse-11 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 174px;
    left: 255px;
    /* background: url(../assets/images/c222bf08-56bd-424b-b6eb-7e28ea21f0a3.png) */
      /* no-repeat center; */
    background-size: cover;
    z-index: 22;
    border-radius: 50%;
  }
  .cannot-come {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 15px;
    top: 175px;
    left: 281px;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    white-space: nowrap;
    z-index: 23;
  }
  .budget-contribution {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1432px;
    height: 94px;
    margin: 140px 0 0 285px;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 40px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: center;
    z-index: 5;
  }
  .flex-row-ee {
    position: relative;
    width: 1518px;
    height: 647px;
    margin: 100px 0 0 201px;
    z-index: 4;
  }
  .lower-photo {
    position: absolute;
    width: 708px;
    height: 560px;
    top: 0;
    left: 83px;
    /* background: url(../assets/images/43e57e55d9a2fe1a8f974c695246d44c62e5d846.png) */
      /* no-repeat center; */
    background-size: cover;
    z-index: 3;
  }
  .date-time {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 252px;
    height: 561px;
    top: 86px;
    left: 0;
    color: rgba(0, 0, 0, 0.26);
    font-family: Poiret One, var(--default-font-family);
    font-size: 160px;
    font-weight: 400;
    line-height: 187.2px;
    text-align: center;
    letter-spacing: -17.6px;
    z-index: 4;
  }
  .excited-to-see-you {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 708px;
    height: 210px;
    top: 100px;
    left: 810px;
    color: #814b57;
    font-family: Poiret One, var(--default-font-family);
    font-size: 60px;
    font-weight: 400;
    line-height: 70.2px;
    text-align: center;
    z-index: 2;
  }
  .memorable-day {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 708px;
    height: 70px;
    top: 390px;
    left: 810px;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 30px;
    font-weight: 400;
    line-height: 35.1px;
    text-align: center;
    z-index: 1;
  }
  .ring-head-photo {
    position: absolute;
    width: 1920px;
    height: 708px;
    top: 0;
    left: 0px;
    /* background: url(../assets/images/80f3b785-8b72-4c6f-ab77-13e0f69c19cd.png) */
      /* no-repeat center; */
    background-size: cover;
    z-index: 96;
  }
  .flex-row-e {
    position: absolute;
    width: 809px;
    height: 368px;
    top: 3472px;
    left: 476px;
    z-index: 73;
  }
  .line-hearts {
    position: absolute;
    width: 62px;
    height: 368px;
    top: 0;
    left: 0;
    /* background: url(../assets/images/9f2ebebe-66ab-4d34-85b0-2ca322bf1e1b.png) */
      /* no-repeat center; */
    background-size: cover;
    z-index: 73;
  }
  .guest-gathering {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 47px;
    top: 29px;
    left: 101px;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 40px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: left;
    white-space: nowrap;
    z-index: 69;
  }
  .ceremony-time {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 47px;
    top: 3596px;
    left: 576px;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 40px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: left;
    white-space: nowrap;
    z-index: 70;
  }
  .banquet-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 47px;
    top: 3691px;
    left: 576px;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 40px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: left;
    white-space: nowrap;
    z-index: 71;
  }
  .celebration-end {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 47px;
    top: 3786px;
    left: 576px;
    color: #000000;
    font-family: Poiret One, var(--default-font-family);
    font-size: 40px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: left;
    white-space: nowrap;
    z-index: 72;
  }
  